.centered{
    text-align: center;
    float: left;
    margin: 5px 5px 5px 5px;
}
/* Standard del website */
body {
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    background-color: rgb(255, 250, 232);
}

#login_block{
    margin: auto;
    width: 80% ;
    overflow: auto;
}

.login_form{
    margin: auto;
    width: 20%;
    height: 100%;
}

#submit{
    margin: auto;
    width: 80%;
}

h1 {
    text-align: center;
    font-weight: bold;
}
