.centered{
    text-align: center;
    float: left;
    margin: 5px 5px 5px 5px;
}
body{
    background-color: rgb(173, 216, 230);
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
}

#login_block{
    margin: auto;
    width: 80% ;
    overflow: auto;
}

.login_form{
    margin: auto;
    width: 20%;
    height: 100%;
}

#submit{
    margin: auto;
    width: 80%;
}
