html {
    height: 100%;
}

body {
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 1.5em;
    background-color: rgb(255, 250, 232);
}

#imagenUsuario {
    width: 20px;
    height: 20px;
    margin: 0 auto;
    float: left;
}

#fotoUsuario{
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.contenedor {
    display: flex;
    overflow: hidden;
}

.perfilUsuario {
    background-color: rgb(211, 211, 211);
    width: 80%;
    height: 500px;   
    margin: auto;
    border-radius: 10px;
    padding: 15px;
}

.menuPerfil {
   height: 80%;
   width: 20%;
   float: right;
   background-color: rgb(173, 216, 230);
   border-left: 1px solid rgb(0, 0, 0);
}

.contenedor img {
    width: 60%;
    border: 1px solid rgb(0, 0, 0); 
}