html {
    height: 100%;
}

/* Standard del website */
body {
    font-family: 'Roboto', 'Arial', 'Times New Roman', sans-serif;
    font-size: 1.5em;
    background-color: rgb(255, 250, 232);
}

.contenedor {
    display: flex;
    overflow: hidden;
}

/* Estilo de imagen */
.contenedor img {
    width: 60%;
    border: 1px solid rgb(0, 0, 0);
}

/* Estilos de lista de carreras */
.listaCarreras {
    margin-left: 5%;
    flex: 0 0 20%;
}

.listaCarreras h1 {
    font-weight: bold;
    text-decoration: underline;
}

.listaCarreras ul {
    list-style-type: none;
    padding: 0;
    border-right: 1px solid rgb(0, 0, 0);
}

.carrera {
    margin-left: 10%;
    margin-top: auto;
    flex: 1;
}
