html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    background-color: #FFFAE8;
}

.contenedor {
    display: flex;
    overflow: hidden;
}

.contenedor img {
    width: 60%;
    border: 1px solid black;
    
}

.listaCarreras {
    margin-left: 5%;
    flex: 0 0 20%;
}

.listaCarreras h1 {
    font-weight: bold;
    text-decoration: underline;
}

.listaCarreras ul {
    list-style-type: none;
    padding: 0;
    border-right: 1px solid black;
}

.carrera {
    margin-left: 10%;
    margin-top: auto;
    flex: 1;
}
